@font-face {
    font-family: pokemon-classic;
    src: url('fonts/pokemon_classic/pokemon-classic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: pokemon-hollow;
    src: url('fonts/pokemon/pokemon-solid.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

html {
    font-size: 16px;
    font-family: 'pokemon-classic', sans-serif;
    min-height: 100vh;
}
    
body {
    display: flex;
    justify-content: center;
    background-color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(0.7rem + 0.7vw);
}

.content {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: max(70vw, 800px);
}

.sidebar {
    width: 100%;
    max-width: max(25vw, 300px);
    min-height: 100vh;
    position: relative;
    background-image: url('img/pokeball-background.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.title {
    margin-top: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.4);
}

img {
    left: 80px; 
    max-width: 250px;
    max-height: 250px;
    /* filter: invert(100%);
    -webkit-filter: invert(100%);
    */
    margin: -60px -60px -60px -50px;
    -webkit-filter: drop-shadow(3px 2px 0 yellow)
    drop-shadow(-2px -2px 0 rgb(255, 255, 199));
    filter: drop-shadow(3px 2px 0 rgb(255, 255, 199)) 
    drop-shadow(-2px -2px 0 rgb(255, 255, 199));
}

.title h1 {
    font-family: 'pokemon-hollow', sans-serif;
    -webkit-text-fill-color: rgb(255, 255, 199);
    -webkit-text-stroke: 2.5px;
    
    font-size: max(calc(1.2rem + 1vw), 1.2rem);
    color: black;
    letter-spacing: 0.15em;
    margin-left: max(calc(0.2rem + 0.7vw), 1px);
    padding-right: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    gap: 5px;
    background: rgba(0, 0, 0, 0.4);
}

.footer div {
    text-align: center;
    color: white;
    font-size: 0.7rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.form-section {
    background-color: white;
}

div {
    border: 1px solid gray;
}


/*______________________________________________*/

@media only screen and (max-width: 650px) {
    .content {
        flex-direction: column;
    }

    .sidebar {
        min-height: 400px;
    }

    .title {
        margin-top: 50px;
    }
}


