@font-face {
    font-family: pokemon-classic;
    src: url('fonts/pokemon_classic/pokemon-classic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: norsebold;
    src: url('fonts/Norse-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
    font-family: 'pokemon-classic', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display:flex;
    flex-direction: row;
}

img {
    max-width: 50px;
}

div {
    border: 1px solid gray;
}